@model MultiSelectDropDown.Models.Student

@{
    ViewData["Title"] = "ChoosenDropDown";
}

<h1>ChoosenDropDown</h1>

@using (Html.BeginForm())
{


    <input type="submit" value="save" />
}

@section Scripts{ 
<script>

</script>
}